@using _06_Custom_Helpers.Helpers
<div class="text-center">
        @StringHelpers.CapitalizeWord("hello world from custom helpers")
        <br />
        @StringHelpers.WordsLength("Erkan Türk")
        <br />
        @ViewBag.Message
</div>